.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxs {
  position: relative;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  position: relative;
  flex-basis: 25%;
  padding: 1rem !important;
  background-color: #2e2f36;
}
.list-item {
  list-style-type: none;
  min-height: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #381414;
}